<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hlavní stránka</title>
  <button><a href="\users">Seznam žáků</a></button>
  <button><a href="\newusers">Přidání nového žáka</a></button>
  <button><a href="\rozvrh">Rozvrh již brzy</a></button>

  <style>
     body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
      margin: top;
      background-image: url('https://i.pinimg.com/originals/4e/d9/3a/4ed93a925416e114dd4f9657e9121c1b.jpg'); /* Obrázek jako pozadí */
      background-size: cover; /* Obrázek bude pokrývat celé pozadí */
      color: white; /* Bílý text pro kontrast */
    }
    button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #4285f4;
  transition: background-color 0.3s;
  text-align: center;
}

button:hover {
  background-color: #3367d6;
}

button:active {
  background-color: #1e49b8;
}
  
  
    
  </style>

</head> 
<body>

</html>