<!DOCTYPE html>
<html>
<head>
    <title>Aktualizace dat v databázi</title>
</head>
<body>
    

    <form action="/update" method="POST">
        <label for="predmět">Nová hodnota pro Column 1:</label>
        <input type="text" id="predmět" name="predmět" ><br>
        <label for="idrozvrh">ID řádku k aktualizaci:</label>
        <input type="number" id="idrozvrh" name="idrozvrh" ><br><br>
        <input type="submit" value="Aktualizovat">
    </form>
</body>
</html>